<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">

</head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1 th:text="${title}"></h1>

            <p class="text-info">You will be redirected to login after your password is changed.</p>

            <form method="post" th:object="${user}">
                <div class="form-group">
                    <label th:for="CurrentPassword">Current Password</label>
                    <input class="form-control" th:field="*{password}" type="password" />
                    <span th:text="${passwordErrorMessage}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="NewPassword">New Password</label>
                    <input class="form-control" name="newPassword" type="password"/>
                    <span th:text="${newPasswordErrorMessage}" class="error"></span>
                    <span th:text="${newPasswordErrorMessage2}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="verifyNewPassword">Verify New Password</label>
                    <input class="form-control" name="verifyNewPassword" type="password"/>
                    <span th:text="${errorMessage}" class="error"></span>
                </div>

                <input type="submit" class="btn btn-sm btn-primary" value="Submit"/>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments :: javascript"></div>
</body>
</html>