<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">

</head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1 th:text="${title}"></h1>

            <form method="post" style="max-width:600px;" th:object="${user}">

                <div class="form-group">
                    <label th:for="phoneNumber">Phone Number</label>
                    <input class="form-control" th:value="*{phoneNumber}" th:field="*{phoneNumber}" type="text" />
                    <span th:errors="*{phoneNumber}" class="error"></span>
                    <span class="text-success" th:text="${phoneNumberChangedMessage}"></span>
                </div>

                <div class="form-group">
                    <label th:for="area">Area</label>
                    <select th:field="*{area}">
                        <option th:each="area : ${areas}"
                                th:text="${area.name}"
                                th:value="${area}"></option>
                    </select>
                    <p class="text-warning">Changing area will void all current reminders.</p>
                    <span class="text-success" th:text="${areaChangedMessage}"></span>
                    <span th:errors="*{area}" class="error"></span>
                </div>
                <div>
                    <a href="/JustinThyme/change-password" class="btn btn-sm btn-primary">Change password</a>
                    <a href="/JustinThyme/unsubscribe" class="btn btn-sm btn-danger">
                        <i class="fa fa-minus-circle"></i> Unsubscribe</a>
                </div>

                <div style="margin-top:10px;"><input type="submit" class="btn btn-sm btn-primary" value="Submit"/></div>

                <div class="form-group">
                    <label th:for="username"></label>
                    <input class="hidden" th:value="*{username}" th:field="*{username}" type="text" />
                    <span th:errors="*{username}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="password"></label>
                    <input class="hidden" th:value="*{password}" th:field="*{password}" type="text"/>
                    <span th:errors="*{password}" class="error"></span>
                </div>
            </form>
            <div>
                <hr/>
                <br/>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments :: javascript"></div>
</body>
</html>