<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head">

</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="|Editing Preferences for  ${user.username}|">Default welcome</h1>


<h2>Here are the contents of your seed packet:</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Plant Date</th>
        <th>Reminder</th>
    </tr>


    <tr th:each="seed :${seeds}">
        <td th:text="${seed.name}"></td>
        <td th:text="${seed.plantDate}"></td>
        <td th:if="${seed.reminder == true}" th:text="ON"></td>
        <td th:if="${seed.reminder == false}" th:text="OFF"></td>

    </tr>

</table>

<h3>Here are some more seeds that grow in your area:</h3>
<ul th:each="seed: ${seedsLeft}">
    <li th:text="${seed.name}"></li>

</ul>


<div th:replace="fragments :: javascript"></div>
</body>
</html>