<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head">

</head>
<body>

<nav th:replace="fragments :: navigation"></nav>


<div class="container-fluid" >
    <h1 th:text="|Welcome ${user.username}|">Default welcome</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Plant Date</th>
        <th>Reminder</th>
        <th></th>
    </tr>

    <form method="post" action="welcome-user">

    <tr th:each="seed :${seeds}">
    <!--<td th:text="${seed.name}" type="checkbox" name="seedToRemoveIds" th:value="${seed.getId()}"></td>-->
        <td th:text="${seed.name}"></td>
    <td th:text="${seed.plantDate}"></td>


        <!--<td><button type="submit" name="ON" th:value="${seed.getId()}" th:if="${seed.getReminder() == true}" th:text="ON"></button></td>
        <td><button type="submit" name="OFF" th:value="${seed.getId()}" th:if="${seed.getReminder() == false}" th:text="OFF"></button></td>
        <td><button type="submit" name="ON" th:value="${seed.getId()}" th:if="${seed.getReminder() == true}" th:text="ON"></button>-->
        <td>
        <div class="btn-group btn-toggle">
            <button class="btn btn-default" type="submit" name="ON" th:value="${seed.getId()}" th:if="${seed.getReminder() == true}">ON</button>
            <button class="btn btn-primary active" type="submit" name="OFF" th:value="${seed.getId()}" th:if="${seed.getReminder() == false}">OFF</button>
        </div>
        </td>

    <!--<td th:if="${seed.getReminder() == true}" th:text="ON"></td>-->
    <!--<td th:if="${seed.getReminder() == false}" th:text="OFF"></td>-->
        <td><button type="submit" name="seedToRemoveIds" th:value="${seed.getId()}">Remove</button></td>

        <!--<td><input type="submit" name="seedToRemoveIds" value="Remove"/></td>-->


        <input type="hidden" th:value="${user.getId()}" name="userId" />
    </tr>
    </form>
</table>


<form method="post" action = "welcome-user">
    <h3 th:text="|Here are some seeds that grow in your area: ${user.area.name}|">Here are some more seeds that grow in your area:</h3>
    <ul th:each="seed : ${seedsLeft}" class="list-unstyled">

        <li><input th:id="${seed.name}"  type="checkbox" name="seedIds" th:value="${seed.getId()}"/>
        <label th:for="${seed.name}" th:text="${seed.name}"></label></li>
    </ul>
    <input type="hidden" th:value="${user.getId()}" name="userId" />
    <input type="submit" class="btn btn-sm btn-primary" value ="Add more"/>


</form>
</div>





<div th:replace="fragments :: javascript"></div>
</body>
</html>